# Dependencies
node_modules

# Build output
.next
.out
build

# Logs and temp
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.DS_Store
.tmp
.cache

# Env files (do not include secrets in images)
.env
.env.*
stack.env

# Git
.git
.gitignore

